@import "tailwindcss";

@theme {
  --color-background: oklch(0.175 0.009 274.34);
  --color-foreground: oklch(0.9676 0.007 247.9);

  --color-card: oklch(0.2067 0.0124 274.22);
  --color-card-foreground: var(--color-foreground);
  --color-popover: var(--color-card);
  --color-popover-foreground: var(--color-foreground);

  --color-primary: oklch(0.6018 0.2095 287.57);
  --color-primary-foreground: oklch(0.175 0.009 274.34);
  --color-secondary: oklch(0.2694 0.0148 274.29);
  --color-secondary-foreground: var(--color-foreground);

  --color-muted: var(--color-secondary);
  --color-muted-foreground: oklch(0.6268 0.0347 256.8);
  --color-accent: var(--color-primary);
  --color-accent-foreground: var(--color-primary-foreground);
  --color-destructive: oklch(0.5623 0.1966 26.28);
  --color-destructive-foreground: oklch(0.9838 0.0035 247.86);

  --color-border: oklch(0.2889 0.0164 274.27);
  --color-input: oklch(0.2889 0.0164 274.27);
  --color-ring: var(--color-primary);


  --color-sidebar: oklch(0.1962 0.01128 274.2538);
  --color-sidebar-foreground: var(--color-foreground);
  --color-sidebar-primary: var(--color-primary);
  --color-sidebar-primary-foreground: var(--color-primary-foreground);
  --color-sidebar-accent: oklch(0.2495 0.0132 274.32);
  --color-sidebar-accent-foreground: var(--color-foreground);
  --color-sidebar-ring: var(--color-ring);
  --color-sidebar-border: var(--color-muted);

  --font-space-grotesk: var(--font-space-grotesk);
}

@layer base {
  * { @apply border-border ring-ring;}
}

@layer utilities {
  .bg-gradient { background: linear-gradient(135deg, hsl(252 87% 67%), hsl(200 95% 60%)); }

  .bg-gradient {

  }
}
