---
import Auth from "./Auth.astro";
---

<header class="border-b border-border fixed top-0 left-0 right-0 z-50 bg-background/50 backdrop-blur-sm">
  <div class="container mx-auto h-16">

    <Auth />

  </div>
</header>
