---
import type { HTMLAttributes } from "astro/types";
import Body from "./Body.astro";
import Header from "./components/Header.astro";
interface Props extends HTMLAttributes<'main'> { title: string; }
const { title, class: className, ...props } = Astro.props;
---

<Body title={title} class="min-h-dvh flex flex-col">
  <Header />

  <main class:list={["container mx-auto mt-16 grow", className]} {...props}>
    <slot />
  </main>
</Body>
