@import "tailwindcss";

@theme {
  --color-background: oklch(0.3019 0.04 123.8);
  --color-foreground: oklch(0.9312 0.0624 122.59);
  --color-card: oklch(0.3552 0.043 123.57);
  --color-card-foreground: oklch(0.9312 0.0624 122.59);
  /* --color-popover: */
  /* --color-popover-foreground: */

  --color-primary: oklch(0.566 0.1119 125.38);
  --color-primary-foreground: oklch(0.9539 0.0417 122.2);
  --color-primary-accent: oklch(0.566 0.1119 125.38 / 0.5);
  --color-secondary: oklch(0.5789 0.2217 27.81);
  --color-secondary-foreground: oklch(1 0 0);
  --color-secondary-accent: oklch(0.5789 0.2217 27.81 / 0.5);

  --color-accent: oklch(0.8408 0.1725 84.2);
  --color-accent-foreground: oklch(0.2382 0.0286 123.54);
  --color-muted: oklch(0.4032 0.042097 123.2527);
  --color-muted-foreground: oklch(0.7506 0.086 123.44);


  --color-border: oklch(0.4765 0.0706 124.12);
  --color-input: oklch(0.4118 0.0517 123.66);
  --color-ring: oklch(0.8408 0.1725 84.2);
}

@theme inline {
  --font-vt323: var(--font-vt323);
  --font-press-start: var(--font-press-start);
}

:root {
  --pixel-shadow: 80 20% 10%;
}

@layer base {
  body { @apply bg-background text-foreground font-vt323; }
  * { @apply border-border outline-ring/50; }
  button { @apply cursor-pointer; }
  scanlines {
    @apply fixed inset-0 pointer-events-none z-999;
    @apply after:content-[''] after:absolute after:pointer-events-none after:inset-0;
    &::after{
      background: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 2px,
        oklch(0.3019 0.04 123.8 / 0.1) 2px,
        hsl(var(--pixel-shadow) / 0.1) 2px,
        hsl(var(--pixel-shadow) / 0.1) 4px
      );
    }
  }
}

@layer components {
  [data-variant="pixel"] {
    box-shadow:
      4px 0 0 0 var(--color-border),
      -4px 0 0 0 var(--color-border),
      0 4px 0 0 var(--color-border),
      0 -4px 0 0 var(--color-border),
      4px 4px 0 0 hsl(var(--pixel-shadow)),
      8px 8px 0 0 hsl(var(--pixel-shadow) / 0.5);

    &.highlight {
      @apply border-4 border-foreground;
    }
  }
}
