---
import { Icon } from 'astro-icon/components';
---
<a href="/profile" class="bg-secondary text-secondary-foreground hover:bg-secondary/85 h-full max-w-64">


  <button class="flex items-center gap-2 h-full px-4 py-2 cursor-pointer">
    <img src="placeholder.svg" alt="" class="size-8 border-2 border-accent shrink-0">
    <div class="flex-col hidden xl:flex">
      <span class="text-lg leading-5 font-bold truncate w-full text-left">Mauro Daniel Viveros</span>
      <span class="leading-3 opacity-70 truncate w-full text-left">maurod.viveros@gmail.com</span>
    </div>
    <Icon name="tabler:chevron-down"/>
  </button>

</a>

<!-- <button class="bg-secondary text-secondary-foreground h-full px-4 py-2 flex items-center cursor-pointer hover:bg-secondary/85">
asd
</button> -->
