<a href="/" class="flex items-center gap-2 px-8">
  <span class="text-3xl xl:text-4xl leading-8">🎮</span>
  <hgroup>
    <span class="font-pixel text-xs xl:text-lg leading-5 text-accent">PokeEvent 2026</span>
    <p class="text-sm xl:text-base leading-3">¡Colecciona todas las medallas!</p>
  </hgroup>
</a>
