@import "tailwindcss";
@import "@fontsource/vt323";
@import "@fontsource/press-start-2p";

@theme {
  --color-background: oklch(0.3019 0.04 123.8);
  --color-foreground: oklch(0.9312 0.0624 122.59);

  /* Pokémon Red accent */
  --color-primary               : oklch(0.5789 0.2217 27.81);
  --color-primary-foreground    : oklch(1 0 0);
  /* Game Boy Green */
  --color-secondary             : oklch(0.566 0.1119 125.38);
  --color-secondary-foreground  : oklch(0.9539 0.0417 122.2);
  /* Pokémon Yellow accent */
  --color-accent                : oklch(0.8408 0.1725 84.2);
  --color-accent-foreground     : oklch(0.2382 0.0286 123.54);
  /* Muted */
  --color-muted                 : oklch(0.4032 0.042097 123.2527);
  --color-muted-foreground      : oklch(0.7506 0.086 123.44);

  --font-retro: 'VT323', monospace;
  --font-pixel: 'Press Start 2P', cursive;

  --pixel-shadow: 80 20% 10%;
}


@layer base {
  body {
    @apply bg-background text-foreground font-retro;
  }
}

@layer components {
  .scanlines {
    @apply fixed inset-0 pointer-events-none z-40;
  }

  .scanlines::after {
    content: '';
    position: absolute;
    pointer-events: none;
    inset: 0;
    background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      oklch(0.3019 0.04 123.8 / 0.1) 2px,
      hsl(var(--pixel-shadow) / 0.1) 2px,
      hsl(var(--pixel-shadow) / 0.1) 4px
    );
  }
}
