---
import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";

type Props = HTMLAttributes<"div"> & VariantProps<typeof card>;

export const card = tv({
  base: [
    "bg-card text-card-foreground group/card  flex flex-col",
    "has-data-[slot=card-footer]:pb-0 has-[>img:first-child]:pt-0",
    "",
  ],
  variants: {
    size: {
      default: "gap-6 py-6",
      sm: "gap-4 py-4 text-sm",
    },
    variant: {
      default: [
        "*:[img:first-child]:rounded-t-xl *:[img:last-child]:rounded-b-xl",
        "ring-border ring-1 rounded-xl"
      ],
      pixel: "",
    }
  },
  defaultVariants: {
    variant: "pixel",
    size: "default",
  },
});

const { class: className, size, variant, ...rest } = Astro.props;
---

<div
  class={card({ size, variant, class: className })}
  data-variant={variant ?? "pixel"}
  data-size={size ?? "default"}
  {...rest}
  data-slot="card"
>
  <slot />
</div>
